.back1{
  background-image: url("backimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.back2{
  background-image: url("../images/backimage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container .jumbotron {
    background: none
}
.container .jumbotron .display-4{
  align-items: center;
  text-align: center;
}
.container .jumbotron .lead{
  width: 75%;
  float:right;
}
.wrap{
  max-width: 350px;
  border-radius: 20px;
  margin: auto;
  background:rgba(0,0,0,0.8);
  box-sizing: border-box;
  padding: 40px;
  color:#fff;
  margin-top: 100px;
}
.he2{
  text-align: center;
}
input[type=text],input[type=password],input[type=Email]{
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  background: rgba(0, 0, 0, 0.10);
  outline: none;
  border: none;
  border-bottom: 1px dotted #fff;
  color:#fff;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
}
input[type=submit]{
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 30px;
  outline: none;
  border: none;
  background: #60adde;
  opacity: 0.7;
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
}
.lin {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
}
.back3{
  background-image: url("../images/backimage3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.back4{
  background-image: url("../images/backimage4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
